header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-div {
    align-items: end;
}

.logo img {
    height: 50px;
    /* align-items: start; */
}

.navigation ul {
    display: flex;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navigation ul li {
    margin-right: 20px;
    display: inline-block;
}

.navigation ul li:last-child {
    margin-right: 0;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navigation button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.navigation button:hover {
    background-color: #385adb;
    
}

html,
body {
    height: 100vh;
    margin: 0;
}

* {
    padding: 0;
    box-sizing: cover;
}

.container {
    width: 100%;
    min-height: 200vh;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient( 178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    /* background: url("https://wallpaperaccess.com/full/1098206.jpg"); */

}

.content {
    width: 100%;
    height: 200%;
    min-height: 200vh;
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    color: #fff;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.mentalhealth {
    position: relative;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-indent: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 50px;
}

.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: rgb(20, 36, 50);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}


/* this is the text, when you hover on button */

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
    color: white;
}

.square {
    position: relative;
    margin: 0 10px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square .one {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.twitch:hover .one {
    border: none;
    background: rgb(49, 83, 110);
}

.square .two {
    top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.twitch:hover .two {
    border: none;
    background: rgb(49, 83, 110);
}

.square .three {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 37%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.twitch:hover .three {
    border: none;
    background: rgb(49, 83, 110);
}

.circle {
    position: relative;
    padding: 40px 60px;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.square:hover {
    color: white;
}

.content:hover {
    color: #ffffff;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4caf50;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mentalhealth {
    position: relative;
    height: 10%;
    color: #e5e4e2;
    font-weight: 800;
    letter-spacing: 2px;
}

.DrugRadar {
    font-size: 50px;
}